.content {
    height: auto;
    width: 100vw;
    background-color: rgba(186, 242, 255, 1);
    padding-top: 0%;
    margin-top: 0%;
    padding-bottom: 40px;
}

.content header {
    padding-top: 20px;
    text-align: center;
    font-size: 45px;
    color: #0B2447;
    font-weight: bold;
    margin-bottom: 0%;
    caret-color: transparent;
}

.sideimg {
    height: 70vh;
    width: 30vw;
    margin-right: -20px;
}

.centerimg {
    height: 80vh;
    width: 40vw;
}

.rightimg {
    height: 70vh;
    width: 30vw;
    margin-left: -20px;
}

.content p {
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
    color: #0B2447;
    font-weight: bold;
    caret-color: transparent;
}

.circle {
    height: 40vh;
    width: 100vw;
    background-color: rgba(186, 242, 255, 1);
    display: flex;
    flex-wrap: wrap;
position: relative;
    justify-content: space-evenly;
}

.box {
    height: 200px;
    width: 200px;
    background-color: transparent;
    border-radius: 100%;
    margin-top: 50px;
    box-shadow: 0px 2px 10px 2px black;
    caret-color: transparent;
    cursor: pointer;


    filter: drop-shadow(5px 5px 10px black);

    >img {
        height: 230px;
        width: 200px;
        margin-top: -30px;
    }
}

.box1 p {
    margin-top: 20px;
    font-size: 20px;
    margin-left: 0px;
    cursor: pointer;
}

@media(max-width:1024px) {
    .circle {
        height: 50vh;
        width: 100vw;
        background-color: rgba(186, 242, 255, 1);
        display: flex;
        justify-content: space-evenly;
    }
}

@media(max-width:768px) {
    .content {
    height: auto;
    width: 100vw;
    background-color: rgba(186, 242, 255, 1);
    padding-top: 0%;
    margin-top: 0%;
}
    .circle {
        height: auto;
        width: 100vw;
        background-color: rgba(186, 242, 255, 1);
        display: flex;
        justify-content: space-evenly;
    }
    .sideimg {

        height: 50vh;
        width: 30vw;
        margin-right: -20px;
    }

    .centerimg {
        height: 70vh;
        width: 40vw;
    }

    .rightimg {
        height: 50vh;
        width: 30vw;
        margin-left: -20px;
    }

    .box {
        height: 150px;
        width: 150px;
        background-color: transparent;
        border-radius: 100%;
        margin-top: 50px;
        box-shadow: 0px 2px 10px 2px black;
        caret-color: transparent;
        cursor: pointer;
        filter: drop-shadow(5px 5px 10px black);

        >img {
            height: 180px;
            width: 180px;
            margin-left: -10px;
            margin-top: -30px;
        }
    }

    .box1 p {
        margin-top: 20px;
        font-size: 20px;
        margin-left: 0px;
        text-align: center;
        cursor: pointer;
    }

}

@media(max-width:426px) {
    .content {
    height: auto;
    width: 100vw;
    background-color: rgba(186, 242, 255, 1);
    padding-top: 0%;
    margin-top: 0%;
}
    .content header {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    color: #0B2447;
    font-weight: bold;
    margin-bottom: 0%;
    caret-color: transparent;
}
    .sideimg {
        height: 35vh;
        width: 30vw;
        margin-right: -0px;
    }

    .centerimg {
        height: 40vh;
        width: 40vw;
    }

    .rightimg {
        height: 35vh;
        width: 30vw;
        margin-left: 0px;
    }

    .circle {
        height: 65vh;
        width: 100vw;
        background-color: rgba(186, 242, 255, 1);
        display: flex;
        justify-content: space-evenly;
    }

    .box {
        height: 150px;
        width: 150px;
        background-color: transparent;
        border-radius: 100%;
        margin-top: 50px;
        box-shadow: 0px 2px 10px 2px black;
        caret-color: transparent;
        cursor: pointer;
        filter: drop-shadow(5px 5px 10px black);

        >img {
            height: 180px;
            width: 180px;
            margin-left: -10px;
            margin-top: -30px;
        }
    }

    .content p {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 0%;
        font-size: 35px;
        color: #0B2447;
        font-weight: bold;
        caret-color: transparent;
    }

    .box1 p {
        margin-top: 20px;
        font-size: 20px;
        margin-left: 0px;
        text-align: center;
        cursor: pointer;
    }
}
@media(max-width:380px){
    .content {
    height: auto;
    width: 100vw;
    background-color: rgba(186, 242, 255, 1);
    padding-top: 0%;
    margin-top: 0%;
}
.circle {
        height: auto;
        padding-bottom: 30px;
        width: 100vw;
        background-color: rgba(186, 242, 255, 1);
        display: flex;
        justify-content: space-evenly;
    }

}
@media(max-width:322px){
.box {
        height: 120px;
        width: 120px;
        background-color: transparent;
        border-radius: 100%;
        margin-top: 50px;
        box-shadow: 0px 2px 10px 2px black;
        caret-color: transparent;
        cursor: pointer;
        filter: drop-shadow(5px 5px 10px black);

        >img {
            height: 130px;
            width: 130px;
            margin-left: -10px;
            margin-top: -20px;
        }
    }
}