.return {
    height: auto;
    width: 100vw;
    background-color: rgba(186, 242, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    caret-color: transparent;
}

.write {
    display: flex;
}

.write h1 {
    font-size: 70px;
    margin-left: 200px;
    margin-top: 100px;
}

.mera {
    margin-left: 20px;
    height: 400px;
    width: auto;
}

.writen2 h4 {
    font-size: 28px;
    margin-bottom: 0%;
    font-weight: 400;
    margin-left: 5px;
    font-weight: 600;
    margin-top: 0%;
}

.writen2 li {
    font-size: 20px;
}

.writen2 p {
    font-size: 20px;
}

.writen2 {
    height: auto;
    width: 80vw;
    border-radius: 20px;
    margin-bottom: 70px;
    padding: 30px;
    background-color: rgba(255, 251, 233, 1);
}
@media(max-width:1025px){
.mera {
    margin-left: 0px;
    height: 300px;
    width: auto;
}
.write h1 {
    font-size: 50px;
    margin-left: 120px;
    margin-top: 100px;
}
}
@media(max-width:770px){
.mera {
    margin-left: 0px;
    height: 250px;
    width: auto;
}
.write h1 {
 
    font-size: 40px;
    margin-left: 70px;
    margin-top: 100px;
}
}
@media(max-width:429px){
.mera {
    margin-left: 0px;
    height: 120px;
    margin-right: -20px;
    margin-top: 30px;
    width: auto;
}
.write h1 {
 
    font-size: 25px;
    margin-left: 40px;
    margin-top: 80px;
}
.writen2 h4 {
    font-size: 20px;
    margin-bottom: 0%;
    font-weight: 400;
    margin-left: 5px;
    font-weight: 600;
    margin-top: 0%;
}
}
@media(max-width:380px){
.mera {
    margin-left: 0px;
    height: 100px;
    margin-right: -20px;
    margin-top: 30px;
    width: auto;
}
.write h1 {
 
    font-size: 21px;
    margin-left: 20px;
    margin-top: 80px;
}
.writen2 h4 {
    font-size: 18px;
    margin-bottom: 0%;
    font-weight: 400;
    margin-left: 5px;
    font-weight: 600;
    margin-top: 0%;
}
}
@media(max-width:321px){
.mera {
    margin-left: 0px;
    height: 100px;
    margin-right: 0px;
    margin-top: 30px;
    width: auto;
}
.write h1 {
 
    font-size: 21px;
    margin-left: 20px;
    margin-top: 80px;
}
.writen2 h4 {
    font-size: 18px;
    margin-bottom: 0%;
    font-weight: 400;
    margin-left: 5px;
    font-weight: 600;
    margin-top: 0%;
}
}
@media(max-width:400px) {
  .mera {
    margin-left: 0px;
    height: 110px;
    margin-right: -15px;
    margin-top: 30px;
    width: auto;
  }

  .write h1 {
    font-size: 23px;
    margin-left: 25px;
    margin-top: 80px;
  }

  .writen2 {
    width: 85vw;
    padding: 25px;
    border-radius: 18px;
  }

  .writen2 h4 {
    font-size: 18.5px;
    margin-bottom: 0%;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 0%;
  }

  .writen2 p,
  .writen2 li {
    font-size: 17px;
    line-height: 1.5;
  }
}
