.Thankyou {
    background-color: rgba(186, 242, 255, 1);
    width: 100vw;
    height: auto;
    margin-bottom: 0%;
}



.Thankyou h2 {
    text-align: center;
    color: rgba(26, 58, 84, 1);
    font-size: 35px;
    font-weight: 700;
    margin-top: -20px;
    margin-bottom: 0%;
    
}
.bttnpe{
    margin-left: 45%;
    margin-top: 20px;
    height: 5vh;
    width: 13vw;
    border: none;
    color: rgba(26, 58, 84, 1);
    font-weight: 700;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgba(252, 222, 63, 1);
}
.bttnpe:hover{
    background-color: rgba(255, 196, 0, 1);
    color: black;
    cursor: pointer;
}

.Thankyou p {
    color: rgba(26, 58, 84, 1);
    text-align: center;
    font-size: 35PX;
    margin-top: -30px;
    font-weight: 700;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thake {
    height: 300px;
    width: 900px;

    margin-top: -70px;
}

.thake1 {
    height: 400px;
    width: 500px;
    margin-top: 30px;
}

.recipe {
    padding-top: 50px;
    height: 60vh;
    width: 100vw;
    background-color: rgba(186, 242, 255, 1);

    margin-top: 0%;
}

.id {
    font-size: 25px;
    font-weight: 500;
    padding-left: 30px;
    padding-top: 10px;
    margin-top: 0%;
}

.order-id {
    font-size: 19px;
    font-weight: 600;
    color: rgba(32, 88, 110, 1);
}



.order-card {
    background-color: rgba(255, 251, 233, 1);
}

.order-info h4 {
    font-size: 30px;
    margin-left: 35vh;
    margin-top: -25vh;
    margin-bottom: 15px;
}

.prices {
    margin-left: 35vh;
    font-weight: 600;
    font-size: 20px;

}

.qty {
    margin-left: 35vh;
    font-size: 15px;
    color: grey;
    font-weight: 450;
    margin-top: 10px;

}

.btns {
    margin-left: 80vh;
    display: flex;
    margin-top: -9vw;
    flex-direction: column;
}

.buye-btn {
    margin-top: 10px;
    height: 5vh;
    width: 7vw;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    background-color: skyblue;
}

.buye-btn:hover {
    background-color: rgb(11, 148, 202);
    color: white;
}

.order-info h5 {
    font-size: 28px;
    padding-top: 50px;
    margin-bottom: 0%;
}

.order-info header {
    margin-top: 10px;
    font-size: 20px;
}
.Thankyou button{
    
}